@import "tailwindcss";


/* Animación para el texto ANIMA de la splash screen */
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Utilidad personalizada */
.animate-gradient {
  background-size: 200% 200%;
  animation: gradientMove 6s ease-in-out infinite;
}